<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Menu Item</h2>
</div>

<form action="/add-post" method="POST" enctype="multipart/form-data">
  <label for="name"><b>Item Name</b></label>
  <input type="text" placeholder="Item Name" name="name" required>

  <label for="description"><b>Description</b></label>
  <textarea name="description" cols="50" rows="5" ></textarea>

  <label for="category"><b>Category</b></label>
  <select name="category" required>
    <option value="">Select Category</option>
    <% categories.forEach(category => { %>
      <option value="<%= category._id %>"><%= category.name %></option>
    <% }) %>
  </select>
  <!-- <select name="category" required>
    <option value="">Select Category</option>
    <option value="Veg Pizza">Veg Pizza</option>
    <option value="Non-Veg Pizza">Non-Veg Pizza</option>
    <option value="Pasta">Pasta</option>
    <option value="Salad">Salad</option>
    <option value="Starters">Starters</option>
    <option value="Dessert">Dessert</option>
    <option value="Sandwich">Sandwich</option>
    <option value="Milkshakes">Milkshakes</option>
    <option value="Beverages">Beverages</option>
  </select> -->

  <label for="price"><b>Price (₹)</b></label>
  <input type="number" step="0.01" placeholder="Price" name="price" required>

  <label for="image"><b>Image</b></label>
  <!-- <input type="file" name="image" accept="image/*" required> -->
  <input type="file" id="image" name="image" accept="image/*" class="form-control" required>

  <input type="submit" value="Add Item" class="btn">
</form>