<section class="about" id="about">

    <div class="about-text">

    <!-- <div class="last-updated">Last Updated: <%= new Date().toLocaleDateString() %></div> -->
    <h3>About Us</h3>
        <div class="box">
            <h2>Our Purpose & Values</h2>
            <p>At the heart of our brand is a set of values that define our core beliefs on
            how we run our business, treat our people and serve our customers.</p>
        </div>

        <div class="box">
            <h2>Do The Right Thing</h2>
            <p>We act with integrity and make disciplined decisions, even when it's difficult or unpopular. 
            High ethical standards and uncommon honesty are at the heart of how we work together. We are
            committed to safety and responsibly serving our customers, and giving back in the communities
            where we live and work.</p>
        </div>

        <div class="box">
            <h2>Put Peoples First</h2>
            <p>We create an inclusive culture, knowing our people are core to our success. We treat each other
            with dignity, respect, and we value the differences each team member brings. We strive to be a 
            company where all team members can bring their full selves to work and know that they belong, 
            contribute and reach their potential.</p>
        </div>

        <div class="box">
            <h2>Champion Our Customers</h2>
            <p> We deliver on our promises, treating each order and interaction as an opportunity to deepen
            relations by delivering great product, service, and experiences. We hold ourselves accountable, 
            and if we don't deliver on a promise, we'll make it right.</p>
        </div>
    </div>
</section>